<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>

<h1 class="jquery">Hello jQuery!</h1>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag 'asia.jpg', width: '100%', height: '100%' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'desert.jpg', width: '100%', height: '100%' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'forest.jpg', width: '100%', height: '100%' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'lake.jpg', width: '100%', height: '100%' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'sunset.jpg', width: '100%', height: '100%' %>
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<p>画面がスクロールされたら<br>
    スクロールできるようにする<br>
    画面のスクロールが50以上になれば<br>
    ボックス<br>
    <div class="box1"></div>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    ボックス<br>
    </p>
