<!DOCTYPE html>
<html>
  <head>
    <title>SwiperApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <li class="font_link">
          <%= link_to "MENU1", scroll_snap_top_path %>
        </li>
        <li class="font_link"><a href="">MENU1</a></li>
        <li><a href="#">MENU2</a></li>
        <li><a href="#">MENU3</a></li>
        <li><a href="#">MENU4</a></li>
        <li><a href="#">MENU5</a></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <%= yield %>
  </body>
</html>
